@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;800&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::moz-focus-inner {
  border: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Poppins', sans-serif;
}

body h1 {
  font-size: 3.052rem;
}

body h2 {
  font-size: 2.441rem;
}

body h3 {
  font-size: 1.953rem;
}

body h4 {
  font-size: 1.563rem;
}

body h5 {
  font-size: 1.25rem;
}

body h6 {
  font-size: 0.8rem;
}

body .btn, body .btn-primary,
body .btn-secondary,
body input[type=submit],
body input[type=text],
body textarea {
  font-size: 0.8rem;
}

body small {
  font-size: 0.8rem;
}

body .tiny-small, body .skills .skills-measure .skill-group .percentage, .skills .skills-measure .skill-group body .percentage, body .work .container .cards .card footer .year, .work .container .cards .card footer body .year {
  font-size: 0.6rem;
}

p {
  font-weight: 400;
}

h1, h2 {
  line-height: 130%;
  font-weight: 800;
}

h3 {
  line-height: 130%;
  font-weight: 400;
}

h4 {
  line-height: 100%;
  font-weight: 600;
}

h5 {
  font-weight: 400;
  line-height: 120%;
}

h6 {
  font-weight: 500;
}

@media screen and (min-width: 1116px) {
  html {
    font-size: 165%;
  }
}

@media screen and (max-width: 1116px) {
  html {
    font-size: 150%;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 125%;
  }
}

@media screen and (max-width: 650px) {
  * {
    text-align: center;
  }
  input[type=submit],
  input[type=text],
  textarea {
    text-align: left;
  }
  .work .cards .card * {
    text-align: left;
  }
  html {
    font-size: 110%;
  }
}

@media screen and (max-width: 475px) {
  body h1 {
    font-size: 2.488rem;
  }
  body h2 {
    font-size: 2.074rem;
  }
  body h3 {
    font-size: 1.728rem;
  }
  body h4 {
    font-size: 1.44rem;
  }
  body h5 {
    font-size: 1.2rem;
  }
  body h6 {
    font-size: 0.75rem;
  }
  body .btn, body .btn-primary,
  body .btn-secondary,
  body input[type=submit],
  body input[type=text],
  body textarea {
    font-size: 0.8rem;
  }
  body small {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 100%;
  }
}

.root, .dark {
  --primary-pink: #F35E84;
  --primary-purple: #6E82F9;
  --primary-green: #9FFBCE;
  --pink-purple-grd: linear-gradient(90deg, var(--primary-pink) 0%, #AF70C0 50%, var(--primary-purple) 100%);
  --purple-green-grd: linear-gradient(90deg, var(--primary-purple) 0%, #22B9FF 50.31%, #A6FFD8 100%, var(--primary-green) 100%);
  --btn-pink-purple-grd: linear-gradient(90deg, var(--primary-pink) 0%, var(--primary-pink) 50%, var(--primary-purple) 100%);
  --btn-pink-purple-grd-border: linear-gradient(90deg, #FE3064 0, #FE3064 50%, #415CFF 100%);
  --red-grd: linear-gradient(45deg, #FF6181 -4.56%, #C41F40 90.23%);
  --banner-border-grd: linear-gradient(90deg, #d1ffe8 0%, rgba(0,0,0, 0) 25%, rgba(0,0,0, 0) 75%, #862DF7 100%);
  --contact-border-grd: linear-gradient(105.8deg, #d1ffe8 0%, rgba(0,0,0, 0) 25%, rgba(0,0,0, 0) 75%, #862DF7 100%);
  --thumb-grd: linear-gradient(180deg, var(--primary-pink) 0%, var(--primary-purple) 100%);
}

.dark {
  --bg: #000;
  --fg: #fff;
  background-color: var(--bg);
  color: var(--fg);
}

.dark h1, .dark h2 {
  color: red;
  background-image: var(--pink-purple-grd);
  background-position: center center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: table-cell;
}

.dark a {
  color: var(--fg);
}

.dark .btn, .dark .btn-primary,
.dark .btn-secondary {
  color: var(--fg);
  -webkit-box-shadow: 0 1px 10px rgba(240, 95, 135, 0.5);
          box-shadow: 0 1px 10px rgba(240, 95, 135, 0.5);
  -webkit-transition: background-position 0.3s, -webkit-box-shadow 0.3s;
  transition: background-position 0.3s, -webkit-box-shadow 0.3s;
  transition: background-position 0.3s, box-shadow 0.3s;
  transition: background-position 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.dark .btn::after, .dark .btn-primary::after,
.dark .btn-secondary::after {
  content: '';
  position: absolute;
  top: calc(-1 * 2px);
  left: calc(-1 * 2px);
  height: calc(100% + 2px * 2);
  width: calc(100% + 2px * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: inherit;
  z-index: -900;
  background-image: var(--btn-pink-purple-grd-border);
  background-size: 200% auto;
  background-position: right center;
  -webkit-transition: inherit;
  transition: inherit;
}

.dark .btn:hover::after, .dark .btn-primary:hover::after,
.dark .btn-secondary:hover::after {
  background-position: left center;
}

.dark .btn:hover, .dark .btn-primary:hover,
.dark .btn-secondary:hover {
  -webkit-box-shadow: 0 1px 25px rgba(240, 95, 135, 0.5);
          box-shadow: 0 1px 25px rgba(240, 95, 135, 0.5);
}

.dark .btn-primary {
  background-image: var(--btn-pink-purple-grd);
  background-size: 200% auto;
  background-position: right center;
}

.dark .btn-primary .btn-icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.dark .btn-primary:hover {
  background-position: left center;
}

.dark .btn-secondary {
  background-color: var(--bg);
}

.dark input[type=text], .dark textarea {
  background-color: transparent;
  color: #c4c4c4;
}

* {
  scroll-behavior: smooth;
}

*:focus {
  outline: 2.5px dashed var(--primary-purple);
  outline-offset: 5px;
}

body::-webkit-scrollbar, .cards::-webkit-scrollbar {
  background-color: #000;
  width: 0.55rem;
  height: 0.55rem;
}

body::-webkit-scrollbar-thumb, .cards::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #AAAAAA;
  background-color: var(--primary-pink);
}

.container {
  width: 90%;
  max-width: 2250px;
  margin: 0 auto;
}

.wide-banner, .landing .hobbies, .me .resume {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  width: 100vw;
  padding: 2rem 0;
  position: relative;
}

.wide-banner::before, .landing .hobbies::before, .me .resume::before, .wide-banner::after, .landing .hobbies::after, .me .resume::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100vw;
  height: 1.5px;
  background: var(--banner-border-grd);
}

.wide-banner::before, .landing .hobbies::before, .me .resume::before {
  top: 0;
}

.wide-banner::after, .landing .hobbies::after, .me .resume::after {
  bottom: 0;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-purple);
  /* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
  /* MOZILLA FIREFOX */
}

progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 999px;
}

progress::-webkit-progress-value {
  background-color: var(--primary-purple);
  border-radius: 999px;
}

progress::-moz-progress-bar {
  background-color: var(--primary-purple);
  border-radius: 999px;
}

a {
  text-decoration: none;
  display: inline-block;
}

button,
.btn,
.btn-primary,
.btn-secondary,
input[type=submit],
input[type=text],
textarea {
  border: none;
}

textarea {
  resize: none;
}

input[type=text], textarea {
  width: 100%;
  max-width: 500px;
  display: block;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 3px solid #303030;
}


.btn,
.btn-primary,
.btn-secondary {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
  padding: 8px 35px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  grid-gap: 0.25rem;
}

.btn .btn-icon, .btn-primary .btn-icon, .btn-secondary .btn-icon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary .btn-icon {
  background-image: url("../assets/arrow.svg");
}

.btn-primary:hover .btn-icon {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.btn-secondary {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

html {
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available !important;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: inherit;
}

#rightBlob,
#leftBlob {
  position: fixed;
  z-index: -999;
  background-repeat: no-repeat;
  width: inherit;
  height: inherit;
  top: 0;
}

#rightBlob {
  right: 0;
  background-image: url(../assets/blob-right.svg);
}

#leftBlob {
  left: 0;
  background-image: url(../assets/blob-left.svg);
}

@-webkit-keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.landing {
  position: relative;
  min-height: calc(100vh + 1px);
  min-height: -webkit-fill-available;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.landing > .container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0rem;
}

.landing .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 1.5rem;
  padding: 2.5rem 0;
}

.landing .hero .hero-text .hero-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 0rem;
}

.landing .hero .hero-text .hero-heading #qualities {
  background-image: var(--purple-green-grd);
  background-position: center center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: table-cell;
  text-transform: uppercase;
}

.landing .hero .hero-text .hero-heading #qualities::before {
  line-height: inherit !important;
}

.landing .hero .hero-text .hero-heading #qualities .ti-cursor {
  margin: 0 !important;
  line-height: inherit;
  font-weight: 100 !important;
}

.landing .hero .hero-text p span {
  background-image: var(--red-grd);
  background-position: center center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: table-cell;
  display: inline-block;
}

.landing .hero .ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0.75rem;
}

.landing .hero .ctas #btn-work .btn-icon {
  display: none;
}

.landing .hobbies {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 0.6rem 1rem;
  overflow: hidden;
}

.landing .hobbies .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 1.5rem;
}

.landing .hobbies .hobby {
  padding: 0.5rem 1rem;
  pointer-events: none;
}

.landing .hobbies .hobby a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0.5rem;
}

.landing .hobbies .hobby a .img-hobby {
  width: 85px;
  height: 85px;
}

.landing .hobbies .hobby a .name .hobby-u, .landing .hobbies .hobby a .name .hobby-l {
  font-weight: 600;
}

.landing .hobbies .hobby a .name .hobby-l {
  margin-top: -0.3rem;
  opacity: 0.6;
}

.landing .hobbies #developer .name {
  position: relative;
}

.landing .hobbies #developer .name #squiggly-line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  top: 115%;
}

.landing .hobbies #designer {
  position: relative;
  border: 2px solid #18A0FB;
}

.landing .hobbies #designer .outline,
.landing .hobbies #designer .mini-sq {
  position: absolute;
}

.landing .hobbies #designer .mini-sq {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 2px solid #18A0FB;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing .hobbies #designer #upper-left {
  top: 0;
  left: 0;
}

.landing .hobbies #designer #upper-right {
  top: 0;
  left: 100%;
}

.landing .hobbies #designer #lower-left {
  top: 100%;
  left: 0;
}

.landing .hobbies #designer #lower-right {
  top: 100%;
  left: 100%;
}

@media screen and (min-width: 1116px) {
  .img-hobby {
    width: 100px;
  }
}

@media screen and (max-width: 1116px) {
  .landing .hobbies {
    padding: 0.6rem;
    grid-gap: 0.75rem;
  }
  .landing .hobbies .hobby {
    padding: 0.5rem;
    grid-gap: 0.75rem;
  }
  .landing .hobbies .hobby .img-hobby {
    width: 75px;
    height: 75px;
  }
}

@media screen and (max-width: 650px) {
  .landing .hero {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .landing .hero .hero-text .hero-heading {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing .hero .hero-text p {
    margin-top: 0.25rem;
  }
  .landing .hero .ctas {
    grid-gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing .hobbies .hobby {
    border-radius: 10px;
    pointer-events: all;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0);
  }
  .landing .hobbies .hobby a {
    outline: none;
  }
  .landing .hobbies .hobby a .name {
    display: none;
  }
  .landing .hobbies .hobby a .img-hobby {
    width: 65px;
    height: 65px;
  }
  .landing .hobbies .hobby a:focus .name {
    display: block;
  }
  .landing .hobbies .hobby:hover {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .landing .hobbies #designer {
    border-radius: 0 !important;
  }
  .landing .hobbies #designer .mini-sq {
    width: 10px;
    height: 10px;
  }
}

.me .sub-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0rem;
  grid-gap: 2rem;
  align-items: start;
}

.me .sub-article:not(:first-child) {
  margin-top: 0.5rem;
}

.me .sub-article .question {
  border-radius: 999px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  -ms-flex-preferred-size: 7ch;
      flex-basis: 7ch;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0rem;
  grid-gap: 5px;
}

.me .sub-article .question small {
  opacity: 0.85;
}

.me .sub-article .answer {
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

.me .sub-article .answer a {
  font-size: inherit;
  background-image: var(--purple-green-grd);
  background-position: center center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: table-cell;
  display: inline-block;
}

.me .resume {
  margin-top: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.me .resume #btnDownload .btn-icon {
  background-image: url("../assets/download.svg");
}

@media screen and (max-width: 935px) {
  .me .sub-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 0.25rem;
  }
  .me .sub-article .question {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media screen and (max-width: 650px) {
  .me .sub-article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .me .sub-article .answer {
    text-align: center;
  }
}

.skills .skills-measure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 0rem;
  grid-gap: 0;
}

.skills .skills-measure .skill-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-gap: 0.5rem;
}

.skills .skills-measure .skill-group .icons {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.5rem;
}

.skills .skills-measure .skill-group .icons img {
  width: auto;
  height: 30px;
}

.skills .skills-measure .skill-group .percentage {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: var(--primary-pink);
  color: rgba(0, 0, 0, 0.8);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
}

.skills .skills-measure .skill-group progress {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  height: 4px;
}

.skills .duties-container {
  margin-top: 2rem;
}

.skills .duties {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.skills .duties .duty {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 10px;
  -webkit-transition: background-color 0.15s , -webkit-transform 0.15s;
  transition: background-color 0.15s , -webkit-transform 0.15s;
  transition: background-color 0.15s , transform 0.15s;
  transition: background-color 0.15s , transform 0.15s , -webkit-transform 0.15s;
}

.skills .duties .duty img {
  -webkit-transition: background-color 0.15s , -webkit-transform 0.15s;
  transition: background-color 0.15s , -webkit-transform 0.15s;
  transition: background-color 0.15s , transform 0.15s;
  transition: background-color 0.15s , transform 0.15s , -webkit-transform 0.15s;
  cursor: pointer;
  border-radius: 10px;
  width: 140px;
  height: 140px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.skills .duties .duty h6 {
  font-weight: 600;
  line-height: 120%;
  opacity: 0;
  text-align: center;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.skills .duties .active-duty {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.skills .duties .active-duty img {
  background-color: transparent !important;
  -webkit-filter: brightness(1) invert(0);
          filter: brightness(1) invert(0);
}

.skills .duties .active-duty .duty-name-inside {
  opacity: 1;
}

.skills .duty-explained {
  margin-top: 1rem;
}

.skills .duty-explained #duty-name {
  display: none;
}

.skills .duty-explained #duty-description {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 1116px) {
  .skills .skills-measure {
    width: 60%;
  }
}

@media screen and (max-width: 1116px) {
  .skills .skills-measure {
    width: 80%;
  }
}

@media screen and (max-width: 950px) {
  .skills .skills-measure {
    width: 100%;
  }
  .skills .skills-measure .skill-group .icons img {
    width: auto;
    height: 25px;
  }
  .skills .duties {
    grid-gap: 0.25rem;
  }
  .skills .duties .duty {
    padding: 1rem 0.75rem;
  }
  .skills .duties .duty img {
    width: 110px;
    height: 110px;
  }
  .skills .duties .duty .duty-name-inside {
    display: none;
  }
  .skills .duty-explained {
    margin-top: 1rem;
  }
  .skills .duty-explained #duty-name {
    display: block;
    font-weight: 600;
  }
  .skills .duty-explained #duty-description {
    margin-top: 0.3rem;
  }
}

@media screen and (max-width: 750px) {
  .skills .duties .duty img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 475px) {
  .skills {
    text-align: center !important;
  }
  .skills .skills-measure .skill-group .icons img {
    width: auto;
    height: 20px;
  }
  .skills .duties {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 0;
  }
  .skills .duties .active-duty {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .skills .duties .active-duty img {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  .skills .duty-explained {
    margin-top: 1.5rem;
  }
}

.work .container .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (120px)[7];
      grid-template-rows: repeat(7, 120px);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.work .container .cards .card {
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 0rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 0.05s ease-in-out, border-color 0.05s ease-in-out;
  transition: background-color 0.05s ease-in-out, border-color 0.05s ease-in-out;
  scroll-snap-align: start;
  clear: both;
  overflow: hidden;
  position: relative;
}

.work .container .cards .card:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.65);
}

.work .container .cards .card:hover header .card-name .icon-arrow {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.work .container .cards .card header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0.5rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.work .container .cards .card header .card-name {
  font-weight: 800;
  background-image: var(--purple-green-grd);
  background-position: center center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: table-cell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0.5rem;
}

.work .container .cards .card header .card-name .emoji {
  width: 60px;
  height: 60px;
}

.work .container .cards .card header .card-name .icon-arrow {
  width: 27px;
  height: 27px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.work .container .cards .card .card-description {
  position: relative;
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.7));
  margin-top: 5px;
}

.work .container .cards .card .card-description::after {
  content: ' ';
  position: relative;
  display: block;
  left: 0;
  margin-top: 0.75rem;
  width: 100%;
  height: 2px;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.3);
}

.work .container .cards .card footer {
  margin-top: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work .container .cards .card footer .work-done {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0.25rem;
}

.work .container .cards .card footer .work-done img {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.work .container .cards .card footer .work-done img:hover {
  -webkit-filter: brightness(1) invert(0);
          filter: brightness(1) invert(0);
}

.work .container .cards .card footer .year {
  background-color: var(--primary-green);
  color: rgba(0, 0, 0, 0.8);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
}

.work .container .cards .card .card-emoji {
  position: absolute;
  top: 25%;
  right: 1rem;
  width: 270px;
  height: 270px;
  opacity: 0.3;
  -webkit-filter: grayscale(255);
          filter: grayscale(255);
  display: none;
}

.work .container .cards .card:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.work .container .cards .card:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.work .container .cards .card:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.work .container .cards .soon {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0.5rem;
}

.work .container .cards .soon h3 {
  font-weight: 600;
  opacity: 0.6;
}

.work .container .cards .soon .stopwatch-animation {
  width: 75px;
  height: 75px;
}

@media screen and (max-width: 1460px) {
  .work .container .cards .card:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .work .container .cards .card:nth-child(3) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
}

@media screen and (max-width: 985px) {
  .work .container .cards .card:nth-child(3) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .work .container .cards .soon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 0;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .work .container .cards .soon h3 {
    font-size: 110%;
  }
}

@media screen and (max-width: 850px) {
  .work .container .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 1rem;
  }
  .work .container .cards .card {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
  }
  .work .container .cards .card header .card-name .emoji {
    width: 50px;
    height: 50px;
  }
  .work .container .cards .card footer .work-done img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
  }
  .work .container .cards .soon {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .work .container .cards {
    grid-gap: 0.5rem;
  }
  .work .container .cards .card {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.contact {
  min-height: 100vh;
  border: 1px dashed orange;
}

.contact .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.contact .title {
  border: 1px dashed yellow;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.contact .core {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border: 1px dashed aqua;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0rem;
  grid-gap: 3rem;
  display: none;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  border-radius: 10px;
}

.contact .core .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 0rem;
  grid-gap: 1rem;
}

.contact .core .contact-info .contact-card .card-value {
  margin-top: 0.5rem;
  opacity: 0.7;
  font-weight: 400;
}

.contact .core .contact-info .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 0rem;
  grid-gap: 0.4rem;
}

.contact .core .contact-info .social .network {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}

.contact .core .contact-info .social .network:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contact .core .contact-info .social .network img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.contact .core .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 0.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact .core #btn-send {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 100%;
}

@media screen and (max-width: 1116px) {
  .contact .core {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .core .contact-info .social .network {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 750px) {
  .contact .core .contact-info .social .network {
    width: 35px;
    height: 35px;
  }
}

.me p, .skills p {
  max-width: 60ch;
}

section:not(.landing) {
  margin-top: 6.5rem;
  padding-top: 1.5rem;
}

section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

@media screen and (min-width: 1116px) {
  #rightBlob {
    background-position: top right;
  }
  #leftBlob {
    background-position: top 15rem left;
  }
  .img-title {
    width: 100px;
  }
}

@media screen and (max-width: 1116px) {
  #rightBlob {
    background-position: top -2rem right -2rem;
  }
  #leftBlob {
    background-position: top 15rem left -3rem;
  }
  .img-title {
    width: 90px;
  }
}

@media screen and (max-width: 750px) {
  #rightBlob {
    background-position: top -7rem right -6rem;
  }
  #leftBlob {
    background-position: top 12rem left -6rem;
  }
  .img-title {
    width: 75px;
  }
  .me p, .skills p {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  #rightBlob {
    background-position: center right -8rem;
  }
  #leftBlob {
    background-position: top 12rem left -9rem;
  }
  .img-title {
    width: 60px;
  }
  
  .btn,
  .btn-primary,
  .btn-secondary {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85%;
    margin: 0 auto;
  }
  .btn .btn-icon, .btn-primary .btn-icon, .btn-secondary .btn-icon {
    width: 15px;
    height: 15px;
  }
  .title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .title h2 {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

@media screen and (max-width: 475px) {
  #rightBlob {
    background-position: center right -10rem;
  }
  #leftBlob {
    background-position: top 10rem left -10rem;
  }
}

@media screen and (max-width: 360px) {
  #rightBlob {
    background-position: center right -11rem;
  }
  #leftBlob {
    background-position: top 15rem left -10rem;
  }
}
