.contact
    min-height: 714px
    padding: 0 !important
    display: grid
    grid-template-rows: 2.5fr 1fr

    .upper
        background-color: rgba(255, 255, 255, 0.06)
        background-image: url('../assets/mail-cart.png')
        background-repeat: no-repeat
        background-size: auto 90%
        background-position: bottom left
        max-width: 2250px
        width: 100%
        margin: 0 auto
        grid-row: 1/2
        .container
            height: 100%
            +flex(space-between, center)
            .title
                align-self: flex-end
            form
                border-radius: $border-radius
                padding: 0.75rem
                height: 85%
                width: 38%
                +flex(stretch, stretch, column,  0.5rem)
                .text-box
                    +flex(start, start, column)
                    .label
                        display: inline-block
                        margin: 0 0 5px 5px
                #message
                    flex-basis: 100%
                    textarea
                        flex-basis: 100%

    .lower
        grid-row: 2/3
        +grid-center()
        .container
            +flex(space-between, center)
            .contact-info
                +flex(start, start, row, 3rem)
                li
                    img
                        margin-bottom: 0.3rem
                        +size(40px, 40px)
                    small
                        display: block
            .social
                +flex(center, center, row-reverse, 2rem)
                small
                    &::before
                        content: ''
                        display: inline-block
                        +size(20px, 4px)
                        background: #fff
                        margin: 0 0.5rem 3px 0
                .platforms
                    +flex(start, center, row, 0.4rem)
                    li
                        +size(30px, 30px)
                        border-radius: 999px
                        *
                            +size(inherit, inherit)
                            border-radius: inherit
