.contact
    min-height: 100vh
    border: 1px dashed orange
    .container
        display: grid
        grid-template-rows: auto 1fr
    .title
        border: 1px dashed yellow
        grid-row: 1/2
    .core
        grid-row: 2/3

        border: 1px dashed aqua
        position: relative

        +flex(center, center)

        grid-gap: 3rem

        display: none

        //padding-bottom is different for the send message button
        padding: 1.5rem 1.5rem 2.5rem 1.5rem

        // background-color: rgba(25, 25, 25, 0.3)

        // +backdrop-blur(60px)

        border-radius: $border-radius
        .contact-info
            +flex(start, start, column)
            grid-gap: 1rem
            .contact-card
                .card-value
                    margin-top: 0.5rem
                    opacity: 0.7
                    font-weight: 400
            .social
                +flex(start, center)
                grid-gap: 0.4rem
                .network
                    border-radius: 100%
                    +size(45px, 45px)
                    transition: transform 0.15s ease-out
                    &:hover
                        transform: scale(0.9)
                    img
                        +size(inherit, inherit)
                        border-radius: inherit
        .form
            display: flex
            flex-direction: column
            grid-gap: 0.5rem
            align-items: flex-end
        #btn-send
            +absolute-center()
            top: 100%

@media screen and (max-width: $laptop) //1116px
    .contact
        .core
            flex-wrap: wrap
            .contact-info
                .social .network
                    +size(40px, 40px)

@media screen and (max-width: $tablet1) //750px
    .contact .core .contact-info
        .social .network
            +size(35px, 35px)
