//scroll animations
//https://coolcssanimation.com/how-to-make-scroll-animations/

.landing
    position: relative

    +size(inherit, inherit)

    display: grid
    grid-template-rows: 1fr auto

    .decoration-card-grid
        display: none !important

        position: absolute
        top: 0
        right: 0

        z-index: -999

        display: grid
        grid-template-rows: repeat(6, 1fr)
        grid-template-columns: 400px 200px
        grid-gap: 20px
        height: inherit
        .decoration-card
            background-color: #2d3436
            background-image: linear-gradient(315deg, #2d3436 0%, #191919 74%)
            $dcard-border-radius: 20px
            &:nth-child(1)
                grid-row: 1/4
                grid-column: 2
                border-radius: 0 0 0 $dcard-border-radius
            &:nth-child(2)
                grid-row: 4/7
                grid-column: 2
                border-radius: $dcard-border-radius 0 0 0
            &:nth-child(3) //sample card
                grid-row: 1/2
                grid-column: 1
                border-radius: 0 0 $dcard-border-radius $dcard-border-radius
            &:nth-child(4)
                grid-row: 2/5
                grid-column: 1
                border-radius: $dcard-border-radius
                padding: 1.5rem
                +flex(space-between, start, column)
                img
                    border: 2px dashed yellow
            &:nth-child(5)
                grid-row: 5/7
                grid-column: 1
                border-radius: $dcard-border-radius $dcard-border-radius 0 0

    > .container
        grid-row: 1/2
        +flex(start, center, row)
        flex-direction: row-reverse
    // .hero-image
    //     display: none

    //     z-index: 0

    //     position: absolute
    //     transform: translate(-100%, -50%)
    //     top: 45.5%
    //     left: 100%
    //     +size(auto, 90vh)

    .hero
        padding: 2.5rem 0

        .hero-text
            .hero-heading
                +flex(center, start, column)
                #qualities
                    line-height: 1.2em
                    height: 1.2em
                    +fill-grd(var(--purple-green-grd))
                    text-transform: uppercase
                    .typed-cursor
                        font-weight: 300
                        animation: blink 1.5s steps(5, start) infinite
                        @keyframes blink
                            to
                                visibility: hidden

            p
                span
                    +fill-grd(var(--red-grd))
                    display: inline-block
        .ctas
            margin-top: 2rem
            +flex(start, center, row, 1rem)
            #btn-work .btn-icon
                display: none

    .hobbies
        //---------------PARALLAX---------------
        position: relative

        grid-row: 2/3
        @extend .wide-banner
        padding: 0.6rem 1rem
        overflow: hidden
        .container
            +flex(space-around, center, row, 1.5rem)
        .hobby
            padding: 0.5rem 1rem
            pointer-events: none
            a
                +flex(start, center, row, 0.5rem)
                .name
                    .hobby-u, .hobby-l
                        font-weight: 600
                    .hobby-l
                        margin-top: -0.3rem
                        opacity: 0.6
                img
                    +size(65px, 65px)
        #developer .name
            position: relative
            #squiggly-line
                +absolute-center()
                width: 100%
                top: 115%
        #designer
            $obj-select-border: 2px solid #18A0FB
            position: relative
            border: $obj-select-border
            .outline,
            .mini-sq
                position: absolute
            .mini-sq
                +size(14px, 14px)
                background-color: #fff
                border: $obj-select-border
                transform: translate(-50%, -50%)
            #upper-left
                top: 0
                left: 0
            #upper-right
                top: 0
                left: 100%
            #lower-left
                top: 100%
                left: 0
            #lower-right
                top: 100%
                left: 100%

@media screen and (max-width: 1400px) //custom
    .landing
        .container
            .hero-image
                +size(auto, 65vh)

@media screen and (max-width: $laptop) //1116px
    .landing
        .hobbies
            padding: 0.6rem
            grid-gap: 0.75rem
            .hobby
                padding: 0.5rem
                grid-gap: 0.75rem
                .img-hobby
                    +size(60px, 60px)

@media screen and (max-width: $tablet0) //950px
    .landing
        .container
            .hero-image
                +size(auto, 40vh)

@media screen and (max-width: $tablet1) //750px
    .landing
        .container
            justify-content: start
            .hero-image
                // display: none

@media screen and (max-width: $tablet2) //650px
    .landing
        .hero
            align-items: stretch
            .hero-text
                .hero-heading
                    align-items: center
                p
                    margin-top: 0.25rem
            .ctas
                grid-gap: 1rem
                flex-direction: column
        .hobbies
            .hobby
                border-radius: $border-radius
                pointer-events: all
                cursor: pointer
                border: 2px solid rgba(255, 255, 255, 0.0)
                a
                    outline: none
                    .name
                        display: none
                    .img-hobby
                        +size(px, 55px)
                    &:focus
                        .name
                            display: block
                &:hover
                    border-color: rgba(255, 255, 255, 0.2)
            #designer
                border-radius: 0 !important
                .mini-sq
                    +size(10px, 10px)
