//scroll animations
//https://coolcssanimation.com/how-to-make-scroll-animations/

.landing
    position: relative

    min-height: 100%

    display: grid
    grid-template-rows: auto 1fr auto

    > .container
        grid-row: 2/3
        align-self: center

    header
        grid-row: 1/2
        min-width: 100vw
        width: 100vw
        z-index: 3
        // overflow: hidden
        +backdrop-blur()
        border-bottom: 1px solid #fff
        .container
            display: grid
            grid-template-columns: 1fr 3fr 1fr
            .desktop-nav
                grid-column: 2/3
                +flex(center, center, row, 2rem)
                .logo
                    +size(70px, 70px)
                    overflow: hidden
                    svg
                        +size(inherit, inherit)
                    // transition: transform 0.1s ease-out
                    // &:hover
                    //     transform: scale(1.3)
                .desktop-links
                    +flex(inherit, inherit, inherit, inherit)
                    .section-link a
                        text-transform: uppercase
                        font-size: 90%
                        padding: 0.25rem 0.4rem
                        border-radius: 5px
                        transition: background-color 0.15s ease-in
                        &:hover
                            background-color: var(--primary-purple)

            .header-btn
                grid-column: 3/4
                justify-self: end
                align-self: center
                width: fit-content !important
            .btn-ham
                z-index: 2
                +size(25px, 25px)
                img
                    +size(inherit, inherit)
            .mobile-nav
                position: absolute
                top: 50px
                left: 0
                width: 100vw
                height: calc(100vh - 50px)
                //TODO: move to theming
                background-color: var(--bg)
                display: none

                ul
                    padding: 3rem 1.5rem
                    +flex(center, start, column, 0.3rem)
                    .ham-link
                        font-size: 130%
                        text-decoration: underline

                .ham-img
                    position: absolute

                    +size(130%, auto)
                    transform: translate(-50%, 0)
                    left: 50%
                    bottom: -12%

                    display: none

            .btn-ham, .mobile-nav
                display: none
    .sticky
        position: fixed
        top: 0
        width: 100%

    .hero
        padding: 2.5rem 0

        .hero-text
            .hero-heading
                +flex(center, start, column)
                #qualities
                    line-height: 1.2em
                    height: 1.2em
                    +fill-grd(var(--purple-green-grd))
                    text-transform: uppercase
                    .typed-cursor
                        font-weight: 300
                        animation: blink 1.5s steps(5, start) infinite
                        @keyframes blink
                            to
                                visibility: hidden
        .ctas
            margin-top: 2rem
            +flex(start, center, row, 1rem)
            #btn-work .btn-icon
                display: none

    .hobbies
        //---------------PARALLAX---------------
        grid-row: 3/4
        @extend .wide-banner
        z-index: 2
        position: relative
        padding: 0.6rem 1rem
        overflow: hidden
        .container
            +flex(space-around, center, row, 1.5rem)
        .hobby
            padding: 0.5rem 1rem
            pointer-events: none
            a
                +flex(start, center, row, 0.5rem)
                .name
                    .hobby-u, .hobby-l
                        font-weight: 600
                    .hobby-l
                        margin-top: -0.3rem
                        opacity: 0.6
                img
                    +size(65px, 65px)
        #developer .name
            position: relative
            #squiggly-line
                +absolute-center()
                width: 100%
                top: 115%
        #designer
            $obj-select-border: 2px solid #18A0FB
            position: relative
            border: $obj-select-border
            .outline,
            .mini-sq
                position: absolute
            .mini-sq
                +size(14px, 14px)
                background-color: #fff
                border: $obj-select-border
                transform: translate(-50%, -50%)
            #upper-left
                top: 0
                left: 0
            #upper-right
                top: 0
                left: 100%
            #lower-left
                top: 100%
                left: 0
            #lower-right
                top: 100%
                left: 100%

@media screen and (max-width: 1400px) //custom
    .landing
        .container
            .hero-image
                +size(auto, 65vh)

@media screen and (max-width: $laptop) //1116px
    .landing
        .hobbies
            padding: 0.6rem
            grid-gap: 0.75rem
            .hobby
                padding: 0.5rem
                grid-gap: 0.75rem
                .img-hobby
                    +size(60px, 60px)

@media screen and (max-width: $tablet0) //950px
    .landing
        header .container
            grid-template-columns: 1fr auto
            .desktop-nav
                grid-column: 1
                justify-content: start
                gap: 1rem
                .logo
                    order: 1
                .desktop-links
                    order: 2
            .btn
                grid-column: 2
        .container
            .hero-image
                +size(auto, 40vh)

@media screen and (max-width: 810px)
    .landing
        .container .hero
            .hero-text
                text-align: center
                .hero-heading
                    align-items: center
            .ctas
                justify-content: center

@media screen and (max-width: $tablet1) //750px
    .landing
        .container
            justify-content: start
            .hero-image
                // display: none

@media screen and (max-width: $tablet2) //650px
    .landing
        header .container
            grid-template-columns: 1fr 2fr 1fr
            align-items: center
            .desktop-nav
                grid-column: 2
                justify-self: center
                .logo
                    +size(50px, 50px)
                .desktop-links
                    display: none
            .btn-ham, .mobile-nav
                display: none
            .btn-ham
                display: block
                grid-column: 1
                grid-row: 1

            .header-btn
                display: none

        .hero
            align-items: stretch
            .hero-text
                .hero-heading
                    align-items: center
                p
                    margin-top: 0.25rem
            .ctas
                grid-gap: 1rem
                // flex-direction: column
        .hobbies
            .hobby
                border-radius: $border-radius
                pointer-events: all
                cursor: pointer
                border: 2px solid rgba(255, 255, 255, 0.0)
                a
                    +size(100%, 100%)
                    outline: none
                    .name
                        display: none
                    .img-hobby
                        +size(55px, 55px)
                    &:focus
                        .name
                            display: block
                &:hover
                    border-color: rgba(255, 255, 255, 0.2)
            #designer
                border-radius: 0 !important
                .mini-sq
                    +size(10px, 10px)
