.me
    .sub-article
        +flex(start, start)
        grid-gap: 2rem
        align-items: start
        +space-me-articles(0.5rem)
        .question
            flex-basis: 180px
            flex-shrink: 0
            +flex(flex-end, center)
            margin: 5px 0 0 0
            grid-gap: 5px
            small
                opacity: 0.85
        .answer
            margin: 0
            text-align: justify
            text-justify: inter-word
            a
                font-size: inherit
                +fillGrd(var(--purple-green-grd))
                display: inline-block

@media screen and ( max-width: 935px )
    .me
        .sub-article
            flex-direction: column
            grid-gap: 0.25rem
            .question
                flex-basis: auto

@media screen and ( max-width: $tablet2 ) //650px
    .me
        .sub-article
            align-items: center
            .answer
                text-align: center
