.me
    .sub-article
        +flex(start, start)
        grid-gap: 2rem
        align-items: start
        +space-me-articles(0.5rem)
        .question
            border-radius: 999px
            +backdrop-blur()
            flex-basis: 7ch
            flex-shrink: 0
            +flex(flex-end, center)
            grid-gap: 5px
            small
                opacity: 0.85
        .answer
            margin: 0
            text-align: justify
            text-justify: inter-word
            a
                font-size: inherit
                +fill-grd(var(--purple-green-grd))
                display: inline-block
    .resume
        @extend .wide-banner
        margin-top: 3rem
        text-align: center
        +flex(center, center, row, 1rem)
        flex-wrap: wrap
        #btnDownload .btn-icon
            background-image: url('../assets/download.svg')

@media screen and ( max-width: 935px )
    .me
        .sub-article
            flex-direction: column
            grid-gap: 0.25rem
            .question
                flex-basis: auto

@media screen and ( max-width: $tablet2 ) //650px
    .me
        .sub-article
            align-items: center
            .answer
                text-align: center
