.work .container
    // position: relative
    // &::before,
    // &::after
    //     content: ''
    //     position: absolute
    //     z-index: 2
    //     top: 0
    //     width: 1rem
    //     height: 100%
    // &::before
    //     left: 0
    //     background: linear-gradient(to right, rgba(255,0,0, 1) 0%, rgba(0,0,0, 0) 100%)
    // &::after
    //     right: 0
    //     background: linear-gradient(to left, rgba(255,0,0, 1) 0%, rgba(0,0,0, 0) 100%)
    .cards
        margin: 0 0 0 auto
        +flex(start, center)
        padding: 0 0 1rem 0
        overflow-x: auto

        +apply-cards-effect()
        .card
            flex-shrink: 0
            +size(470px, 500px)

            +flex()
            flex-direction: column
            grid-gap: 0.75rem
            padding: 1rem

            border-radius: 25px
            background-color: #191919

            scroll-snap-align: start
            clear: both

            overflow: hidden
            position: relative
            header
                +flex(space-between, center)
                align-self: stretch
                grid-gap: 0.5rem
                .card-name-clickable
                    display: flex
                    grid-gap: 0.1rem
                    justify-content: flex-start
                    .card-name
                        font-weight: 800
                        +fillGrd(var(--purple-green-grd))
                    .icon-arrow
                        transition: transform 0.3s

                    &:hover
                        filter: brightness(0.8)
                        img
                            transform: translateX(7px)
                .year
                    +set-badge-styles()
            .work-done
                flex-grow: 1
                display: flex
                align-items: flex-start
                img
                    margin-right: 10px
                    +size(40px, 40px)
                    filter: brightness(0) invert(1)
                    &:hover
                        filter: brightness(1) invert(0)

            .card-details
                filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.7))

            .card-emoji
                position: absolute
                transform: translate(-50%, -50%)
                top: 77%
                left: 77%
                opacity: 0.2
                +size(355px, 355px)
                filter: grayscale(255)

            &:first-of-type //Monster Slayer
                header .card-name
                    width: min-content
        .tbc
            margin: 0 2.5rem
            h3
                font-weight: 800
            img
                +size(120px, auto)

@media screen and (max-width: $laptop) //1116px
    .work .container
        .cards
            --overlaying-margin: 220px
            .card
                +size(350px, 450px)
                .card-emoji
                    top: 77%
                    left: 77%
                    +size(250px, 250px)

@media screen and (max-width: $tablet1) //750px
    .work .container
        .cards
            --overlaying-margin: 210px
            .card
                +size(300px, 375px)
                .work-done img
                    +size(35px, 35px)
            .tbc
                img
                    +size(100px, auto)

@media screen and (max-width: $tablet2) //650px
    .work .container
        .cards
            --overlaying-margin: 170px
            .card
                +size(280px, 350px)
                .work-done
                    img
                        margin-right: 5px
                        +size(25px, 25px)
            .tbc
                img
                    +size(80px, auto)

@media screen and (max-width: $phone1) //450px
    .work .container .cards
        --overlaying-margin: 200px !important
