@import generic

html
    +size(100%, 100%)
    height: -webkit-fill-available !important

body
    position: relative
    overflow-x: hidden

    +size(inherit, inherit)

/////////////////////////////////////////////////////////////////
// Redundant 2 lines (Just to prevent some SASS indentation issue)
// Remove the two line to check the issue
/////////////////////////////////////////////////////////////////
.fix
    position: absolute

@import landing
@import me
@import resume
@import skills
@import work
@import contact
@import decorations

.skills
    p
        max-width: 60ch

section
    &:not(.landing)
        margin-top: 6.5rem
        padding-top: 1.5rem

section .title
    display: flex
    justify-content: start
    align-items: center
    grid-gap: 0.5rem
    margin-bottom: 1rem
    white-space: nowrap

@media screen and ( min-width: $laptop) //1116px
    .img-title
        width: 80px

@media screen and ( max-width: $laptop) //1116px
    .img-title
        width: 80px

@media screen and ( max-width: $tablet1) //750px
    .img-title
        width: 65px
    .me, .skills
        p
            max-width: 100%

@media screen and ( max-width: $tablet2) //650px
    .img-title
        width: 60px
    .btn
        justify-content: center
        width: 85%
        margin: 0 auto
        .btn-icon
            +size(15px, 15px)
    .title
        flex-wrap: wrap
        justify-content: center !important
        h2
            width: min-content
