@import generic

html
    +size(100%, 100%)
    height: -webkit-fill-available !important

body
    position: relative
    overflow-x: hidden

    +size(inherit, inherit)

#rightBlob,
#leftBlob
    position: fixed
    z-index: -999
    background-repeat: no-repeat
    +size(inherit, inherit)
    top: 0

#rightBlob
    right: 0
    background-image: url(../assets/blob-right.svg)

#leftBlob
    left: 0
    background-image: url(../assets/blob-left.svg)

@import landing
@import me
@import resume
@import skills
@import work
@import contact

.me, .skills
    p
        max-width: 60ch

section
    &:not(.landing)
        margin-top: 6.5rem
        padding-top: 1.5rem

section .title
    display: flex
    justify-content: start
    align-items: center
    grid-gap: 0.5rem
    margin-bottom: 1rem
    white-space: nowrap

@media screen and ( min-width: $laptop) //1116px
    //BLOBS
    #rightBlob
        background-position: top right
    #leftBlob
        background-position: top 15rem left

    .img-title
        width: 100px

@media screen and ( max-width: $laptop) //1116px
    //BLOBS
    #rightBlob
        background-position: top -2rem right -2rem
    #leftBlob
        background-position: top 15rem left -3rem

    .img-title
        width: 90px

@media screen and ( max-width: $tablet1) //750px
    //BLOBS
    #rightBlob
        background-position: top -7rem right -6rem
    #leftBlob
        background-position: top 12rem left -6rem

    .img-title
        width: 75px
    .me, .skills
        p
            max-width: 100%

@media screen and ( max-width: $tablet2) //650px
    //BLOBS
    #rightBlob
        background-position: center right -8rem
    #leftBlob
        background-position: top 12rem left -9rem

    .img-title
        width: 60px
    .btn
        justify-content: center
        width: 85%
        margin: 0 auto
        .btn-icon
            +size(15px, 15px)

    .title
        flex-wrap: wrap
        justify-content: center !important
        h2
            width: min-content

@media screen and ( max-width: $phone1) //475px
    //BLOBS
    #rightBlob
        background-position: center right -10rem
    #leftBlob
        background-position: top 10rem left -10rem

@media screen and ( max-width: $phone2) //360px
    //BLOBS
    #rightBlob
        background-position: center right -11rem
    #leftBlob
        background-position: top 15rem left -10rem
