.skills
    .duties-container
        margin-top: 2rem
    .duties
        display: grid
        grid-template-rows: 1fr
        grid-template-columns: repeat(4, auto)
        justify-content: start

        .duty
            padding: 1rem

            +grid-center()

            border-radius: $border-radius

            transition: background-color 0.15s , transform 0.15s
            .duty-icon
                +size(120px, 120px)

                transition: background-color 0.15s , transform 0.15s

                cursor: pointer
                border-radius: inherit
                -webkit-filter: brightness(0) invert(1)
                filter: brightness(0) invert(1)
                &:hover
                    background-color: rgba(255, 255, 255, 0.07)

            h6
                font-weight: 600
                line-height: 100%
                opacity: 0
                text-align: center
                transition: opacity 0.2s
        .active-duty
            background-color: var(--clr-active-duty)
            transform: translateY(-1rem)
            .duty-icon
                background-color: transparent !important
                filter: brightness(1) invert(0)
            .duty-name
                opacity: 1

    .tech-tools
        width: 100%
        margin: 2rem 0 0 0
        padding: 2rem 0
        position: relative
        background-color: var(--clr-tech-tools)
        &::before
            position: absolute
            content: " "
            +size(100%, 100%)
            top: 0

            background-image: url(../assets/drawing-compass.svg)
            background-repeat: no-repeat
            background-size: 300px
            background-position: bottom -4.8rem right
            opacity: 0.4
        .container
            #inner-title
                font-weight: 800
                text-transform: uppercase
                margin-bottom: 1rem
            .icons
                margin-top: 1rem
                +flex(start, center, row, 0.75rem)
                li
                    +size(auto, 40px)
                    img
                        +size(inherit, inherit)

@media screen and ( max-width: $laptop ) //1116px
    .skills
        .tech-tools
            &::before
                background-size: 400px
                background-position: top -0.5rem right
                opacity: 0.25

@media screen and ( max-width: 950px )
    .skills
        .duties
            grid-gap: 0.25rem
            .duty
                padding: 1rem 0.75rem
                .duty-icon
                    +size(110px, 110px)
                .duty-name
                    display: none
        .duty-explained
            margin-top: 1rem
            #duty-name
                display: block
                font-weight: 600
            #duty-description
                margin-top: 0.3rem
        .tech-tools .container .icons
            li
                +size(auto, 35px)

@media screen and ( max-width: $tablet1 )  //750px
    .skills
        .duties .duty .duty-icon
            +size(80px, 80px)
        .tech-tools .container .icons
            li
                z-index: 1
                +size(auto, 30px)

@media screen and ( max-width: $tablet2 ) //650px
    .skills
        .tech-tools
            &:before
                display: none
            .container
                #inner-title br
                    display: none
                .icons
                    li
                        +size(auto, 25px)

@media screen and ( max-width: $phone1) //475px
    .skills
        text-align: center
        .duties
            width: fit-content
            margin: 0 auto
            grid-template-rows: repeat(2, 1fr)
            grid-template-columns: repeat(2, auto)
            justify-content: center
            grid-gap: 0
            .active-duty
                transform: translateY(0)
                .duty-icon
                    transform: scale(1.15)
        .duty-explained
            //TODO: duty-explained height
            // height: 5em
        .tech-tools
            .container
                .icons
                    display: grid
                    grid-template-rows: repeat(2, auto)
                    grid-template-columns: repeat(5, auto)
                    width: fit-content
                    margin: 0 auto
                    li
                        +size(auto, 25px)
