.work .container
    .cards
        // +flex(flex-start, stretch, column, 0.5rem)
        display: grid
        grid-template-rows: repeat(7, 120px)
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 1rem
        .card
            +backdrop-blur(100px)

            +flex(start, start, column)

            padding: 1rem
            cursor: pointer
            border-radius: $border-radius

            background-color: transparent
            border: 2px solid rgba(255, 255, 255, 0.3)
            transition: background-color 0.05s ease-in-out,
            border-color 0.05s ease-in-out

            scroll-snap-align: start
            clear: both

            overflow: hidden
            position: relative
            &:hover
                background-color: rgba(255, 255, 255, 0.05)
                border-color: rgba(255, 255, 255, 0.65)
                header .card-name
                    .icon-arrow
                        transform: translateX(10px)
            header
                +flex(space-between, center, row, 0.5rem)
                align-self: stretch
                .card-name
                    font-weight: 800
                    +fill-grd(var(--purple-green-grd))
                    +flex(center, center, row, 0.5rem)
                    .emoji
                        +size(60px, 60px)
                    .icon-arrow
                        +size(27px, 27px)
                        transition: transform 0.3s ease

            .card-description
                position: relative
                filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.7))
                margin-top: 5px
                &::after
                    content: ' '
                    position: absolute
                    left: 0
                    bottom: -20px
                    width: 100%
                    height: 2px
                    border-radius: 999px
                    background-color: rgba(255, 255, 255, 0.3)

            footer
                flex-grow: 1
                width: 100%
                +flex(flex-start, flex-end, row)
                .work-done
                    flex-grow: 1
                    +flex(flex-start, flex-end, row, 0.25rem)
                    img
                        margin-right: 10px
                        +size(35px, 35px)
                        filter: brightness(0) invert(1)
                        &:hover
                            filter: brightness(1) invert(0)
                .year
                    +set-badge-styles()

            .card-emoji
                position: absolute
                top: 25%
                right: 1rem
                +size(270px, 270px)
                opacity: 0.3
                filter: grayscale(255)
                display: none
            &:nth-child(1)
                grid-row: 1/4
                grid-column: 1/3
            &:nth-child(2)
                grid-row: 1/3
                grid-column: 3/5
            &:nth-child(3)
                grid-row: 3/6
                grid-column: 3/5
        .soon
            grid-row: 4/6
            grid-column: 1/3

            border-radius: $border-radius
            border: 2px solid rgba(255, 255, 255, 0.1)
            +flex(center, center, row,  0.5rem)
            h3
                font-weight: 600
                opacity: 0.6
            .stopwatch-animation
                +size(75px, 75px)

// grid-template-rows: repeat(7, 120px)
// grid-template-columns: repeat(2, 1fr)
// grid-gap: 1rem

@media screen and (max-width: 1460px) //1460px
    .work .container .cards
        .card
            &:nth-child(2)
                grid-row: 1/4
            &:nth-child(3)
                grid-row: 4/6

@media screen and (max-width: 985px) //985
    .work .container .cards
        .card
            &:nth-child(3)
                grid-row: 4/6
                grid-column: 2/5
        .soon
            flex-direction: column
            grid-gap: 0
            grid-row: 4/6
            grid-column: 1/2
            h3
                font-size: 110%

@media screen and (max-width: 855px) //855
    .work .container .cards
        +flex(center, center, column, 1rem)

@media screen and (max-width: $laptop) //1116px
    .work .container
        .cards
            .card
                // +size(350px, 450px)

@media screen and (max-width: $tablet1) //750px
    .work .container
        .cards
            .card
                // +size(300px, 375px)
                .work-done img
                    +size(35px, 35px)
            .soon
                .stopwatch-animation
                    +size(100px, auto)

@media screen and (max-width: $tablet2) //650px
    .work .container
        .cards
            .card
                // +size(280px, 350px)
                .work-done
                    img
                        margin-right: 5px
                        +size(25px, 25px)
            .soon
                .stopwatch-animation
                    +size(80px, auto)

// @media screen and (max-width: $phone1) //450px
//     .work .container .cards
//         --overlaying-margin: 200px !important
